<nav
  class="transition-all duration-300 ease-in-out"
  [ngClass]="{
    'w-64 h-full border-r fixed left-0': !isMobile(),
    'bg-gray-800 text-gray-100': isDarkMode && !isMobile(),
    'bg-white text-gray-900': !isDarkMode && !isMobile()
  }"
>
  <ul
    class="nav-links flex transition-all duration-300"
    [ngClass]="{
      'flex-col py-4': !isMobile(),
      'flex-row justify-around items-center py-2': isMobile()
    }"
  >
    <li
      *ngFor="let item of sidebarItems"
      class="nav-item flex items-center cursor-pointer hover:bg-opacity-10 transition"
      [attr.aria-label]="item.label"
      role="menuitem"
      routerLink="{{item.route}}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      [ngClass]="{
        'px-4 py-3': !isMobile(),
        'bg-blue-700 bg-opacity-30': isDarkMode && !isMobile(),
        'flex-col px-2 py-1 text-center': isMobile(),
        'bg-blue-100': !isDarkMode && isMobile()
      }"
    >
      <mat-icon
        class="transition-all duration-300"
        [ngClass]="{
          'mr-3': !isMobile(),
          'mb-1': isMobile(),
          'text-gray-300': isDarkMode && isMobile(),
          'text-gray-600': !isDarkMode && isMobile()
        }"
      >
        {{ item.icon }}
      </mat-icon>
      <span
        [ngClass]="{
          'hidden': isMobile()
        }"
      >
        {{ item.label }}
      </span>
    </li>
  </ul>
</nav>
